<div>
<head>
    <title>Client Creation</title>
</head>
<body>
    <header>
        <h1>Client Creation</h1>
    </header>
    <main>
        <form>
            <label for="clientName">Client Name:</label>
            <input type="text" id="clientName" name="clientName">
            
            <label for="clientEmail">Client Email:</label>
            <input type="email" id="clientEmail" name="clientEmail">
            
            <label for="clientPhone">Client Phone:</label>
            <input type="tel" id="clientPhone" name="clientPhone" >
            
            <button onclick="validate()" type ="button" >Create Client</button>

        </form>
    </main>
    <footer>
        &copy; 2023 Anna's Architectural Firm
    </footer>
</body>


</div>
